html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  overflow-x: hidden !important;
}

 body {
  max-width: 100%;
  overflow-x: hidden !important;
 }

.navbar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  height: 60px;
  width: 100%;
  box-shadow: 0px 0px 20px black;
  background-color: rgb(10, 10, 10);;
  color: white;
}

.navbar-content {
  text-align: center;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50px;
}

.navbar-logo {
  display: inline;
  position: relative;
  top: 2px;
  padding: 10px;
  width: 110px;
}

.navbar-item {
  display: inline-block;
  width: 100px;
  padding: 10px;
  height: 20px;
  text-align: center;
  position: relative;
  top: -25px;
  color: white;
}

.navbar-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  border: 2px solid #242424;;
  height: 0px;
  border-radius: 2px;
}

.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 780px) {
  .small_screen {
    display: none !important;
    visibility: hidden;
  }
  
  .big_screen {
    visibility: visible;
  }
}

@media only screen and (max-width: 780px) {
  .small_screen {
    visibility: visible;
  }

  .big_screen {
    visibility: hidden;
    display: none !important;
  }

  .navbar-item {
    width: 70px !important;
  }
}

.hamburger_menu {
  top: 70px;
  visibility: hidden;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  background-color: #252525;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
}

.hamburger_menu_content {
  position: relative;
  top: 10px;
}

:root {
  --font-family: "JetBrains Mono", monospace;
  --line-height: 1.20rem;
  --border-thickness: 2px;
  --text-color: #fff;
  
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
  
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: 16px;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("./fonts/JetBrainsMono-Regular.woff2");
}

html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(10, 10, 10);
  font-family: JetbrainsMono, monospace;
  color: white;
}

.main {
  background: url("images/main/mesh.png") no-repeat;
  background-size: cover;
  background-color: black;
  height: 500px;
  width: 653px;
  margin: auto;
  margin-top: 8%;
  border-radius: 40px;
}

.app-card {
  position: relative;
  width: 300px;
  height: 420px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.23);
  border: 2px solid #000000;
  box-shadow: 0px 0px 46px 21px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(141px);
  -webkit-backdrop-filter: blur(141px);
  -moz-backdrop-filter: blur(141px);
  border-radius: 39px;
}

.beta-badge {
  text-align: center;
  color: white;
  height: 30px;
  width: 70px;
  font-size: 1.5em;
  border-radius: 20px;
  background-color: red;
}

.learn-more-button {
  background: orange;
  box-shadow: 0px 0px 46px 21px rgba(0, 0, 0, 0.25);
  border-radius: 39px;
  font-size: 1.3em;
  text-align: center;
  width: 150px;
  height: 30px;
  vertical-align: middle;
}

.section {
  width: 653px;
  margin: auto;
}

h1 {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 2.40rem;
}

h2 {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.20rem;
  margin-bottom: 1.20rem;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.20rem;
  margin-bottom: 1.20rem;
}

p {
  line-height: 1.20rem;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 3rem;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

a {
  color: #C0BFBF;
}

@media only screen and (max-width: 868px) {
  .main {
    height: 800px !important;
    width: 100% !important;
    margin-top: 0px !important;
    border-radius: 0px;
  }
  
  .section {
    width: 90%;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style-type: square;
}

table {
  position: relative;
  top: calc(var(--line-height) / 2);
  width: calc(round(down, 100%, 1ch));
  border-collapse: collapse;
  margin: 0 0 calc(var(--line-height) * 2);
}

th, td {
  border: var(--border-thickness) solid var(--text-color);
  padding: 
  calc((var(--line-height) / 2))
  calc(1ch - var(--border-thickness) / 2)
  calc((var(--line-height) / 2) - (var(--border-thickness)))
  ;
  line-height: var(--line-height);
  vertical-align: top;
  text-align: left;
}

table tbody tr:first-child > * {
  padding-top: calc((var(--line-height) / 2) - var(--border-thickness));
}


th {
  font-weight: 700;
}

.preview-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.button-primary {
  font-family: JetbrainsMono, monospace; 
  background: rgb(235,114,89);
  background: linear-gradient(90deg, rgba(235,114,89,1) 0%, rgba(238,139,62,1) 42%, rgba(240,162,66,1) 100%);
  color: black;
  padding: 20px 30px;
  border: none;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.button-cta {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
} 